@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Markazi Text", serif;
    font-weight: 400;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1a1a2e; 
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    background-color: #292c44;
}

.avatar-box{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);;

}

.avatar{
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: contain;
}

.chat-box{
    width: 100%;
    max-width: 400px;
    height: 150px;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    color: #ffffff;
    overflow-y: auto;
    white-space: pre-wrap;
}
.button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.talk-toggle,.stop-btn{
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #b39ddb;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px;
    transition: all 0.5s ease-in-out;}


@media (max-width: 600px){
    .main-container{
        max-width: 90%;
    }
    .avatar-box{
        width: 200px;
        height: 300px;
    }
    .chat-box{
        font-size: 16px;
    }
}